.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 2.4em;
    font-weight: 400;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--basic-background);
}
.nav-logo {
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em;
}
.nav-toggle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: 1em;
    padding: 0.5em;
    
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.nav-menu {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible; */
}